<% f.field_container :name do %>
  <%= f.label :name, t("name") %><br />
  <%= f.text_field :name %>
  <%= f.error_message_on :name %>
<% end %>

<h3><%= t("properties") %></h3>

<ul class='checkbox-list' id='properties'>
  <% Property.sorted.each do |property| %>
    <% selected = if @prototype.new_record?
      (params[:property] and params[:property][:id] and params[:property][:id].include?(property.id.to_s))
    else
      @prototype.properties.include?(property)
    end %>
    <li>
      <label>
        <%= check_box_tag "property[id][]", "#{property.id}", selected %>
        <%= property.name %>
      </label>
    </li>
  <% end %>
</ul>

<hr />

<h3><%= t("option_types") %></h3>

<ul class='checkbox-list' id='option-types'>
  <% OptionType.all.sort_by{|ot|
    [
      @prototype.option_types.include?(ot) ? 0 : 1,
      @prototype.option_types.index(ot) || ot.name
    ]
  }.each do |option_type| %>
    <% selected = if @prototype.new_record?
      (params[:option_type] and params[:option_type][:id] and params[:option_type][:id].include?(option_type.id.to_s))
    else
      @prototype.option_types.include?(option_type)
    end %>
    <li>
      <%= check_box_tag "option_type[id][]", "#{option_type.id}", selected %>
      <label> <%= option_type.name %> </label>
      <br />
    </li>
  <% end %>
</ul>
(hint: You can drag and drop option types to select their order)
<hr />
<script type="text/javascript"> jQuery("#option-types").sortable() </script>
<style>
  #option-types.checkbox-list li {
    display: block;
    float: none;
  }
</style>